# Prerequisites
*.d

# vim
*.un~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

obj/
*.cfg

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
